@import "../../styles/variables";

.banner {
  background-color: lighten($color-primary, 43%);
  padding: 2.5% 0;

  .banner-item {
    margin-right: 5%;
    display: flex;
    align-items: center;

    .description {
      > span {
        color: $color-medium-gray;
        font-size: 0.925rem;
      }

      > h3 {
        margin: 0;
        font-size: 1.825rem;
      }
    }
  }

  .banner-icon {
    color: lighten($color-primary, 4%);
    font-size: $banner-icon-size;
    margin-right: 20px;
  }
}
